<div>
    <h2>Available currencies</h2>
    <ul class="h-flex-container">
        <li *ngFor="let currency of currencies | async" class="currency">
            <a [routerLink]="['/currency', currency.id]" routerLinkActive="currency-active">
                <span> ID: {{currency.id}}</span>
                <span> Type: {{currency.attributes.name}}</span>
                <span> Symbol: {{currency.attributes.symbol}}</span>
            </a>
        </li>
    </ul>
    <div class="h-flex-container">
        <select [formControl]="pageSize">
            <option value="3">3</option>
            <option value="6">6</option>
            <option value="12">12</option>
        </select>
        <div class="paginator">
            <button type="button" (click)="prevPage()" [disabled]="currentPage.getValue() === 0">Prev</button>
            <button type="buton" (click)="nextPage()" [disabled]="currentPage.getValue() === pagesCount">Next</button>
        </div>
    </div>
</div>