/*Imports*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Globally */
html, body {
    padding: 0px;
    margin: 0px;
}
a, a:visited, a:hover, a:focus, a:active { text-decoration: none; color:inherit; }

body {
    margin: 5px;
}

.error-page {
    color: red;
    text-align: center;
}
